<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meme.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meme.description %>
</p>

<% if @meme.image.attached? %>
  <p>
    <strong>Image:</strong>
    <br>
    <%#= image_tag @meme.image %>
    <%= image_tag MemeImage::Default.new(@meme).path %>
    <br>
    <br>
    <%#= image_tag @meme.image.variant(resize: "100x100") %>
    <%= image_tag MemeImage::Thumbnail.new(@meme).path %>
  </p>
<% end %>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>
